.container_basicinfo{
    height: 50px;
    color: white;
}
.div_basicinfo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 600;
}