// Task Option Styling
.options_div{
    height: 60px;
    width: 150px;
    background-color: rgb(48, 48, 48);
    position: absolute;
    z-index: 200;
    color: black;
    right: 50px;
    top: 50px;
    cursor: pointer;    
}

.delete_Div{
    height: 30px;
    width: 100%;
    background-color: rgb(16, 16, 16);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px;
}