@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html{
    overflow: hidden;
}

.mainDiv{
    height: 100vh;
    width: 100%;
}

.bg_image {
    width: 100%;
    object-fit: cover;
}
.sidebarDiv{
    position: absolute;
    z-index: 100;
    height: 450px;
    width: 70px;
    background-color: rgb(37, 37, 37);
    top: 100px;
    border-radius: 0 8px 8px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    transition: ease-in-out .3s;
}
.sidebarDiv:hover .siderbarOption{
    width: 100%;
    display: block;
}
.sidebarDiv:hover{
    width: 190px;
}
.siderbarOption{
    display: none;
}
.kanbanOption{
    border-radius: 5px;
    height: 50px;
    width: 80%;
    margin: 10px auto;
    background-color: rgb(29, 29, 29);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.settingoption{
    border-radius: 5px;
    height: 50px;
    width: 80%;
    margin: 10px auto;
    background-color: rgb(29, 29, 29);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.focusSessions{
    height: 250px;
    width: 35%;
    background-color: rgb(58, 58, 58);
    right: 50px;
    top: 100px;
    border-radius: 10px;
    margin: 0 15px;
}
.timerDiv{
    background-color: rgb(22, 22, 22);
    height: 150px;
    width: 100%;
    font-family: 'Silkscreen', sans-serif;
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.timer{
    font-size: 70px;
}
.day{
    font-size: 20px;
}
.kanbanBoarddiv{
    /* position: absolute; */
    height: 250px;
    width: 55%;
    top: 100px;
    background-color: #0f0f0f;
    left: 250px;
    border-radius: 10px;
    margin: 0 15px;
    display: flex;
}
.checklistDiv{
    /* position: absolute; */
    height: 250px;
    width: 35%;
    bottom: 5px;
    left: 250px;
    border-radius: 10px;
    background-color: #0f0f0f;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.musicDiv{
    /* position: absolute; */
    height: 250px;
    width: 55%;
    bottom: 5px;
    right: 50px;
    border-radius: 10px;
    background-color: #0f0f0f;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 0 15px;
}
.mainBody{
    position: absolute;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    width: 80%;
    top: 80px;
    left: 230px;
}
/* ICONS STYLE */

.icon{
    margin: 8px;
}

/* Music Toggle Div */
 .MusicToggle{
    height: 50px;
    width: 50px;
    z-index: 101;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #0f0f0f;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }