@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/* CHECKLIST */
.checklistTitle{
    font-family: 'Silkscreen', sans-serif;
    color: whitesmoke;
    font-size: 18px;
}
.checkList_listDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.checklist{
    height: 40px;
    width: 90%;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    color: white;
}
.checkList_list_content{
    display: flex;
    justify-content: space-evenly;
}
.MdDelete:hover{
    color: red;
    cursor: pointer;
}

/* KARBAN BOARD */

.todo_Div{
    /* background-color: antiquewhite; */
    height: 100%;
    width: 33.3%;
    border-radius: 10px 0px 0px 10px;
}
.doin_Div{
    /* background-color: aquamarine; */
    height: 100%;
    width: 33.3%;
}
.done_Div{
    /* background-color: blue; */
    height: 100%;
    width: 33.3%;
    border-radius: 0px 10px 10px 0px;
}

.todo_Div_title{
    height: 60px;
    background-color:#1b1b1b;
    width: 100%;
    color: white;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doin_Div_title{
    height: 60px;
    background-color:#1b1b1b;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.done_Div_title{
    height: 60px;
    background-color:#1b1b1b;
    width: 100%;
    color: white;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Div_cards{
    height: 390px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todo_Div_card{
    height: 50px;
    width: 95%;
    background-color: rgb(26, 26, 26);
    margin: 8px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
}
.card_title_div{
    /* background-color: aliceblue; */
    height: 60%;
    width: 100%;
    color: white;
    padding: 0px 5px;
    cursor: pointer;
}
.card_DateTime_div{
    /* background-color: aqua; */
    height: 40%;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .todo_Div_title{
        font-size: small !important;
    }
    .done_Div_title{
        font-size: small !important;
    }
    .doin_Div_title{
        font-size: small !important;
    }
  }