.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #000000;
    color: white;
}
.logoDiv{
    height: 100%;
    margin-left: 50px;
    width: 300px;
}
.logo{
    height: 100%;
    margin: auto;
}
.user{
    margin-right: 50px;
    cursor: pointer;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .logoDiv{
        margin-left: 0px !important;
        display: flex;
    }
    .logo{
        height: 70% !important;
    }
    .user{
        margin-right: 20px !important;
        display: flex;
        align-items: center;
        font-size: 10px;
    }
  }